{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>ProductCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateOfCreation</th>
                <th>DateOfModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_category in product_categories %}
            <tr>
                <td>{{ product_category.id }}</td>
                <td>{{ product_category.name }}</td>
                <td>{{ product_category.description }}</td>
                <td>{{ product_category.dateOfCreation ? product_category.dateOfCreation|date('Y-m-d') : '' }}</td>
                <td>{{ product_category.dateOfModification ? product_category.dateOfModification|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('product_category_show', {'id': product_category.id}) }}">show</a>
                    <a class="btn btn-primary" role="button" href="{{ path('product_category_edit', {'id': product_category.id}) }}">edit</a>
                    {{ include('product_category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('product_category_new') }}">Create new</a>
{% endblock %}
