{% extends 'base.html.twig' %}

{% block title %}Symfony catalog{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>DateOfCreation</th>
                <th>DateOfLastModification</th>
                <th>Wishlist</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.dateOfCreation ? product.dateOfCreation|date('Y-m-d') : '' }}</td>
                <td>{{ product.dateOfLastModification ? product.dateOfLastModification|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path ('wishlist_add',{'id':product.id}) }}">
                     {% if sess.wishlist is defined %}
                        {{ sess.wishlist == product.id ? 'Wishlisted':'Wishlist' }}

                     {% endif %}
                    </a>
                    {% if sess.wishlist is defined %}
                       {% if sess.wishlist == product.id %}
                           <a class="btn btn-primary" role="button" href="{{ path ('wishlist_remove',{'id':product.id}) }}">Wishlisted</a>
                       {% else %}
                           <a class="btn btn-primary" role="button" href="{{ path ('wishlist_add',{'id':product.id}) }}">Wishlist</a>
                       {% endif %}
                    {% else %}
                        <a class="btn btn-primary" role="button" href="{{ path ('wishlist_add',{'id':product.id}) }}">Wishlist</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-primary" role="button" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    {% include 'product/_delete_form.html.twig' %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('product_new') }}">Create new</a>
    <a class="btn btn-primary" role="button" href="{{ path('product_category_index')}}">Category list</a>
{% endblock %}
